<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <script src="/javascripts/game-functions.js"></script>
    <script src="/javascripts/game.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <title>Whac-A-Mole</title>
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
          <img src="/images/whac-a-mole.jpg">
        </div>
        <div class="col-md-2">
          <table class="table table-bordered" id="scoreboard">
            <tr><td>Score</td></tr>
            <tr><td id="counter">0</td></tr>
          </table>
        </div>
        <div class="col-md-2"></div>
      </div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 lawn">
          <table class="table">
            <tr id="top-row"></tr>
            <% 3.times do %>
              <tr id="hole-row">
                <% 3.times do %>
                  <td>
                    <div class="full-width center">
                      <div class="circle hole">
                        <div id="mole-num-<%= @i += 1 %>" class="mole inv">
                          <img src="images/mole.png" class="mole-pic">
                        </div>
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

  </body>
</html>
