<!DOCTYPE html>
<html>
  <head>
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/stylesheets/custom.css" rel="stylesheet">
    <title>Whac-A-Mole</title>
  </head>
  <body>


    <div class="container">

      <div class="row center">
        <img src="/images/whac-a-mole.jpg">
      <div>

      <div class="row">
        <div class="col-md-2"></div>

        <div class="col-md-8 lawn">
          <table class="table">
            <tr id="top-row"></tr>
            <% 3.times do %>
              <tr id="hole-row">
                <% 3.times do %>
                  <% @i += 1 %>
                  <td>
                    <div class="full-width center">
                      <div class="circle hole">
                        <div id="gopher-spot-<%= @i %>">
                      </div>
                    </div>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>

  </body>
</html>
