@import url(http://fonts.googleapis.com/css?family=Orbitron);

body {
  background-color: black;
  color: white;
}

.lawn {
  background-color: green;
  border-radius: 5px;
}

.center {
  text-align: center;
}

.full-width {
  width: 100%;
}

.hole {
  width: 200px;
  height: 100px;
  -webkit-border-radius: 100px / 50px;
  -moz-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  background-color: black;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.table>tbody>tr>th, .table>tbody>tr>td {
  border-top: none;
}

#hole-row {
  height: 170px;
}

#top-row {
  height: 50px;
}

.inv {
  display: none;
}

img:hover {
  cursor: pointer;
}

#scoreboard {
  font-family: 'Orbitron', sans-serif;
  margin-top: 22px;
  font-size: 2em;
  text-align: center;
  color: #F3EF26;
  border: 5px solid #EE9333;;
}

.mole-pic {
  margin-top: -7px;
}
